<div class="homebody">
    <div class="header">
        <h1>This is a server of Ruet</h1>
    </div>
    <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus alias porro fugit, autem sunt obcaecati ullam non cumque! Cupiditate necessitatibus tempora odit consequatur beatae rem repellat vitae in est!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus alias porro fugit, autem sunt obcaecati ullam non cumque! Cupiditate necessitatibus tempora odit consequatur beatae rem repellat vitae in est!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus alias porro fugit, autem sunt obcaecati ullam non cumque! Cupiditate necessitatibus tempora odit consequatur beatae rem repellat vitae in est!</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus alias porro fugit, autem sunt obcaecati ullam non cumque! Cupiditate necessitatibus tempora odit consequatur beatae rem repellat vitae in est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus alias porro fugit, autem sunt obcaecati ullam non cumque! Cupiditate necessitatibus tempora odit consequatur beatae rem repellat vitae in est!</p>
    </div>

    <div class="footer">
        <h3>@ Copyrighy Salman Ruet EEE</h3>
    </div>
    
</div>

